.container {
  max-width: 800px;
  border: 2px blue dotted;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;

  align-content: center;
  justify-content: center;
}

.child {
  background-color: lightgray;
  height: 200px;
}

.banner {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  /* grid-column-start: 1;
  grid-column-end: 4; */
}
