.container {
  max-width: 1500px;
  height: 800px;
  border: 2px blue dotted;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 250px;
  grid-gap: 5px;
}

.child {
  background-color: lightgray;
  height: 250px;
}
