.container {
  max-width: 1500px;
  height: 800px;
  border: 2px blue dotted;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 250px;
  grid-gap: 5px;

  align-content: center;
  justify-content: center;
}

.child {
  background-color: lightgray;
  height: 250px;
}
